{% extends "layout.html" %}

{% block content %}

<body class="container">
    <h2>Create a new question</h2>
    <form method="post">
        <div class="container">
            <table>
                <tr>
                    <td>
                        <label for="title">Title</label>
                    </td>
                    </tr>
                <tr>
                    <td>
                        <input name="title" type="text" required/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="question">Question</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="question" type="text" required style="width: 200px"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="answer">Answer</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="answer" type="text" required style="width: 200px"/>
                    </td>
                </tr>
            </table>
            <div>
                <br />
                <button type="submit" class="btn-default">Submit Question</button>
            </div>
        </div>
    </form>
</body>

{% endblock %}
