{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Flask Trivia App</h1>
    <p></p>
</div>
<div>
    <p>This little app is just a fun little trivia app made with Flask.</p>

    <div class="btn btn-submit">
        <a href="create">Create a question.</a>
    </div>

    <p>&nbsp;</p>
    <div>
        Choose a question category to answer:<br />
        <ul>
            <li>
                <a href="question/Programming">Programming</a></li>
            <li>
                <a href="question/Sports">Sports</a></li>
            <li>
                <a href="question/Technology">Technology</a></li>
        </ul>
    </div>
</div>

{% endblock %}
